body {
    background-color: antiquewhite;
    font-family: "Space Grotesk", sans-serif;
}

h1 {
    color: rgb(66, 135, 245);
    text-align: center;
    font-size: 64px;
}

h2 {
    color: purple;
}

h3 {
    text-decoration: underline;
    color:rgb(12, 224, 224);
}

ul.home {
    margin-left: 10%;
    font-size: 28px;
}

li {
    margin-bottom: 20px;
}

